nav {
  width: 200px;
  height: 100vh;
  top: 0;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 10px 0px;
  position: relative;
}

nav>div>.textHolder {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav>div>.textHolder:focus {
  outline: 0;
}

nav>div.textHolder:focus {
  outline: 0;
}

nav>div.topContent>img,
nav>div.blackLayer {
  display: none;
  background-color: transparent;
}

nav>div.topContent>.textHolder>h1 {
  font-size: 2.5rem;
  margin: 0 auto;
  color: rgb(44, 172, 150);
  width: 150px;

}

nav>ul>li {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s;
}

nav>ul>li>a>img {
  padding-right: 10px;
  padding-left: 30px;
}

nav>ul>li>a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 5px;
  transition: color 0.5s;
}

nav>ul>li:hover {
  background-color: rgb(44, 172, 150);
  ;

}

nav>ul>li:hover>a {
  color: white;
}

nav>ul>li.active {
  background-color: rgb(44, 172, 150);
}

nav>ul>li.active>a {
  color: white;
}

nav>hr {
  border-bottom: 0;
}

@media screen and (max-width: 800px) {
  nav {
    width: 100vw;
    height: 101px;
    z-index: 2;
  }

  nav>div.topContent {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  nav>div.topContent>.textHolder {
    width: 100%;
  }

  nav>div.topContent>img {
    display: inline;
    align-self: center;
    margin-left: 20px;
    cursor: pointer;
  }

  nav>div.topContent>.textHolder>h1 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  nav>ul {
    position: absolute;
    transition: left 1s;
    left: -200px;
    background-color: white;
    width: 200px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 10px 0px;
    height: calc(100vh - 102px);

  }

  nav>ul.displayNav {
    transition: left 0.3 ease-in;
    left: 0px;
  }

  nav>div.blackLayer.displayNav {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: calc(100vh - 102px);
    width: 100vw;
  }

}
