div {
  margin: 30px;
  font-size: 2rem;
}

h1,
p {
  color: white;
  font-size: clamp(1.5rem, -0.1rem + 8.333vw, 3.5rem);



}

p {
  text-decoration: underline;
  text-decoration-color: rgb(44, 172, 150);
}
